.svn/
.DS_Store
.Trashes
*.swp
*.dmg
*.lock
*.dSYM
*.xccheckout
*.dylib
*.a
*.xctestrun
DerivedData/
build/
*.build/
xcuserdata/
xcshareddata/
*.framework/
*.app/
*.bundle/
*.xlplugin/
*.swiftmodule/
